@import 'tailwindcss';

/* Local Font Definitions */
@font-face {
  font-family: 'Routed Gothic';
  src: url('./fonts/routed-gothic/routed-gothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Custom Color Definitions */
  --color-primary: #0f25c3;
  --color-red: #a71718;
  --color-sky: #ABEAF9;
  --color-blue: #7B8BBC;
  --color-pink: #f5c8c7;
  --color-darkpink: #F37E7C;
  --color-yellow: #F7B557;
  --color-orange: #E89F4B;
  --color-background: #F9F5F5;
  --color-text: #1e293b;
  --color-text-light: #64748b;
  --color-radio: var(--color-orange);
  
  /* Custom Font Families */
  --font-primary: "rotunda-variable", sans-serif;
  --font-fields: fields, sans-serif;
  --font-routed: "Routed Gothic", sans-serif;
  
  /* Custom Font Sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 2rem;
  --text-2xl: 2.25rem;
  --text-3xl: 2.6rem;
}

body {
    @apply font-routed font-light text-base leading-relaxed m-0 p-0 bg-pink text-text  overflow-x-hidden;
}

h1 {
    @apply font-fields text-xl md:text-3xl mb-4 font-semibold text-primary leading-[1.1];
}

p {
    @apply mb-4 text-sm md:text-lg;
}

section {
    @apply py-20 px-4;
}

@layer utilities {
  .max {
    @apply max-w-4xl mx-auto;
  }
}

#hero {
  color: white;
}

.cheers {
  @apply absolute w-40 top-0 left-1/2 -translate-x-1/2 -translate-y-20;
}
.disco {
  @apply absolute w-60 top-0 left-1/2 -translate-x-1/2 -translate-y-40;
}

/* Form Styles */

form {
    @apply bg-white rounded-xl px-8 py-10 md:p-10 shadow-none max-w-xl mx-auto;
    p {
        @apply mb-6 -mt-4 text-text-light/50 italic text-center;
    }
}


label {
    @apply block mb-2 font-semibold text-base md:text-lg text-primary;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    @apply w-full pb-4 pt-3 border-b-2 border-primary/20 transition-all font-routed tracking-wider text-sm md:text-lg;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    @apply outline-none border-primary;
}

textarea {
    @apply bg-background border-none rounded-xl px-5;
}

/* Custom Radio Button Styles */
input[type="radio"] {
    @apply absolute opacity-0 cursor-pointer w-0 h-0;
}

label:has(input[type="radio"]) {
@apply text-radio cursor-pointer relative pl-8 inline-flex items-center;
}

/* Create the custom radio circle */
label:has(input[type="radio"])::before {
    @apply content-[''] absolute left-0 top-1/2 transform -translate-y-1/2 w-5 h-5 border-2 border-radio rounded-full bg-white transition-all;
}

/* Create the inner bubble */
label:has(input[type="radio"])::after {
    @apply content-[''] absolute left-1 top-1/2 -translate-y-1/2 scale-0 w-3 h-3 rounded-full bg-radio 
    transition-all duration-300 ease-in-out;
}

/* Expand bubble when checked */
label:has(input[type="radio"]:checked)::after {
    @apply -translate-y-1/2 scale-100;
}

/* Optional: Change border color when checked */
label:has(input[type="radio"]:checked)::before {
    @apply border-radio;
}


button[type="submit"] {
    @apply m-auto rounded-full bg-white text-primary pb-3 pt-2 px-8 block cursor-pointer transition-all relative border-primary border-2
    font-medium text-lg;
    box-shadow: 0px 0px 0 0 black;
}

button[type="submit"]:hover {
    @apply -translate-0.5;
    box-shadow: 4px 5px 0 0 var(--color-radio);
}


/* Bounce Animation */
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}